<!DOCTYPE html>
<html>
<head>
	<title><%= defined?(article) ? article['title']+' - ' : '' %>Wiki</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css"/>
	<meta name="title" content="<%= @title %>" />
	<% if defined? article %>
	<meta name="article_id" content="<%= article['id'] %>" />
	<% end %>
	<meta charset="UTF-8">
	<script src="/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  	<header class="noselect mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title"><a href="/"><%= @title %></a></span>	
	      <!-- Navigation -->
	      <nav class="mdl-navigation mdl-layout--large-screen-only">
	      	<% if !user %>
	        <a class="mdl-navigation__link" href="/create">Create an account</a>
	        <a class="mdl-navigation__link" href="/login">Login to <%= @title %></a>
	      	<% else %>
	      		<small class="mdl-navigation__link">Welcome <%= user['fname'] %></small>
	      		<a class="mdl-navigation__link" href="/edit">Edit my account</a>
	      		<a class="mdl-navigation__link" href="/logout">Logout</a>
	      	<% end %>
	      </nav>
	      <div class="mdl-layout-spacer"></div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
				            mdl-textfield--floating-label mdl-textfield--align-right">
				  <label class="mdl-button mdl-js-button mdl-button--icon"
				         for="fixed-header-drawer-exp">
				    <i class="material-icons">search</i>
				  </label>
				  <div class="mdl-textfield__expandable-holder">
				    <input class="mdl-textfield__input searchbar" placeholder="Search" type="text" name="search"
				           id="fixed-header-drawer-exp">
				  </div>
				</div>
			</div>
	    <% if (defined? article) and (user != nil) %>
	    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
	      <a href="#view" class="mdl-layout__tab  <%= action == 'view' ? 'is-active' : '' %>">View</a>
	      <a href="#edit" class="mdl-layout__tab  <%= action == 'edit' ? 'is-active' : '' %>">Edit</a>
	      <a href="#history" class="mdl-layout__tab">History</a>
	    </div>
	    <% end %>
		</header>
		<div class="mdl-layout__drawer">
			<div class="top-sidebar">
				<img class="img-responsive" src="<%= @logo %>" />
			</div>
			<span class="mdl-layout-title top-sidebar"><%= @title %></span>
			<nav class="mdl-navigation">
				<% if !user %>
				<a class="mdl-navigation__link" href="/login">Login to <%= @title %></a>
				<% else %>
				<a class="mdl-navigation__link" href="/new_article">Add an Article</a>
				<a class="mdl-navigation__link" href="/history">History</a>
				<a class="mdl-navigation__link" href="/saved">Bookmarked Articles</a>
				<% end %>
			</nav>
		</div>
		<main class="mdl-layout__content"><%= yield %></main>
	</div>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/lib/material-design-lite/material.min.js"></script>
	<script src="/lib/strftime/strftime-min.js"></script>
	<script src="/app.js"></script>
</body>
</html>