<div class="mdl-grid noselect">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col login-panel">
  	<% if @logo %>
  	<div class="login-logo">
	  	<img src="<%=@logo%>" class="img-responsive"></img>
	  </div>
	  <% end %>
	  <div class="login-header">
	  	<h1>Login to <%= @title %></h1>
	  </div>
	  <div class="login-status">
	  	<% if @email %>
	  	<span>Please login</span>
	  	<% end %>
	  	<% if @message %>
	  	<%= @message %>
	  	<% end %>
	  	<% if @error %>
	  	<span><%= @error %></span>
	  	<% end %>
	  </div>
	  <div class="login-form">
	  	<form action="/login" method="post">
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" value="<%= @email %>" name="email" type="email" id="email">
			    <label class="mdl-textfield__label" for="email">Email Address</label>
			    <span class="mdl-textfield__error">Not a valid email</span>
			  </div>
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" name="password" type="password" id="password">
			    <label class="mdl-textfield__label" for="password">Password</label>
			  </div>
			  <div>
					<button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored">
					  Login
					</button>
				</div>
			</form>
	  </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>